.dsmeta-red-btn {
    height: 45px;
    width: 45px;
    background: firebrick;
    border: 1px dotted crimson;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .dsmeta-red-btn img {
    width: 19px;
  }