@import  url('http://dyslexicfonts.com/fonts/OpenDyslexic-Regular.otf');

* {
  font-family: 'opendislexic',verdana, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

.body,
html {
  color: #fff;
  background-image: linear-gradient(45deg, wheat,deepskyblue, cornflowerblue,chartreuse,hotpink,deeppink,gold,orange);
  background-size: 9800% 300%;
  animation: gradient-animation 45s ease infinite;
}

a,
a:hover,
a:visited {
  color: unset;
  text-decoration: none;
}

.dsmeta-container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

#sales {
  padding: 40px 10px;
}



@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


  


